<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>HTML - Listas</title>
</head>
<body>
    <h1>Listas Ordenadas y Desordenadas en html</h1>
    <H2>Listas ordenadas = ol</H2>
    <hr>
    <h3>Lista numeros romanos en minuscula</h3>
    <ol type ="i">
        <li>Matematicas</li>
        <li>Español</li>
        <li>Quimica</li>
        <li>Ingles</li>
        <li>Historia</li>
    </ol>
    <hr>
    <h3>lista en minnusculas</h3>
    <ol type ="I">
        <li>Matematicas</li>
        <li>Español</li>
        <li>Quimica</li>
        <li>Ingles</li>
        <li>Historia</li>
    </ol>
    <hr>
    <h3>lista en orden alfabetico minuscula</h3>
    <ol type ="a">
        <li>Matematicas</li>
        <li>Español</li>
        <li>Quimica</li>
        <li>Ingles</li>
        <li>Historia</li>
    </ol>
    <hr>
    <h3>lista en orden alfabetico mayuscula</h3>
    <ol type ="A">
        <li>Matematicas</li>
        <li>Español</li>
        <li>Quimica</li>
        <li>Ingles</li>
        <li>Historia</li>
    </ol>
    <hr>
    <h3>lista en numero</h3>
    <ol type ="1">
        <li>Matematicas</li>
        <li>Español</li>
        <li>Quimica</li>
        <li>Ingles</li>
        <li>Historia</li>
    </ol>
    <hr>
    <h2>Listas desordenadas ul</h2>
    <ul style="list-style-type:square;">
        <li>Matematicas</li>
        <li>Español</li>
        <li>Quimica</li>
        <li>Ingles</li>
        <li>Historia</li>
    </ul>
    <hr>
    <ul style="list-style-type:circle;">
        <li>Matematicas</li>
        <li>Español</li>
        <li>Quimica</li>
        <li>Ingles</li>
        <li>Historia</li>
    </ul>
</body>
</html>