<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: plantilla(~{::#contenido_edit_paciente})}">
<head>
    <title>Editar Paciente</title>
</head>
<body>

<div id="contenido_edit_paciente">
    <div class="content-header">
        <div class="container-fluid">
            <h1 class="m-0 text-info"><i class="fas fa-user-edit"></i> Editar Paciente</h1>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Modificar Datos</h3>
                </div>
                <form th:action="@{/pacientes/guardar}" th:object="${paciente}" method="post">

                    <input type="hidden" th:field="*{idPaciente}">

                    <div class="card-body">
                        <div class="form-group">
                            <label>Nombre Completo</label>
                            <input type="text" class="form-control" th:field="*{nombreCompleto}" required>
                        </div>
                        <div class="form-group">
                            <label>Fecha de Nacimiento</label>
                            <input type="date" class="form-control" th:field="*{fechaNacimiento}" required>
                        </div>
                        <div class="form-group">
                            <label>Género</label>
                            <select class="form-control" th:field="*{genero}">
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                                <option value="O">Otro</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Teléfono</label>
                            <input type="text" class="form-control" th:field="*{telefono}" required>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info"><i class="fas fa-save"></i> Actualizar</button>
                        <a th:href="@{/pacientes}" class="btn btn-default float-right">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

</body>
</html>